<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>

</head>
<body>
    <div class="tituloo">
        <h1 class="titulo-añadir">Añadir producto nuevo</h1>
    </div>
    
    <form class="contenedor-formu">
        <div class="contenido-form">
            <div class="form-group">
                <label for="exampleFormControlInput1">Añadir nombre del producto:</label>
                <input type="name" class="form-control" id="exampleFormControlInput1">
                <label for="exampleFormControlInput1">Descripcion del producto:</label>
                <input type="descripcion" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Categoría del producto</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>Hogar</option>
                <option>Comida</option>
                <option>Mascotas</option>
                <option>Vehiculos</option>
                <option>Ferreteria</option>
                </select>
            </div>
            <div class="precio-cantidad">
                <label for="exampleFormControlInput1">Precio:</label>
                <input type="number" class="form-precio" >

                <label for="exampleFormControlInput1">Cantidad:</label>
                <input type="number" class="form-cantidad">
            </div>
            
            
            <div class="form-group">
                <label for="exampleFormControlFile1">Agregar foto del producto</label>
                <input type="file" class="form-imagen" id="exampleFormControlFile1">
            </div>
            <div class="boton">
                <button  type="submit" class="btn-agregar">Añadir</button>
            </div>
        </div>
    </form>
</body>
</html>