<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="Ferreteria" href="">Ferreteria</a>
        <a class="Comida" href="">Comida</a>
        <a class="Mascotas" href="">Mascotas</a>
        <a class="Vehiculos" href="">Vehiculos</a>
        <a class="Hogar" href="">Hogar</a>
    </nav>
    
    <div class="hogar">
    <img class="imagen"  src="{{ url_for('static', filename='img/fondo.jpg') }}" alt="">
    <div class="card-hogar">
        <h1 class="title1">Productos para el hogar</h1>
        <p>Encuentra los mejores productos para tu hogar</p>
        <a href="">Ver Mas</a>
    </div>    
</body>
</html>