* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; 
    border-radius: 0.3125rem; 
    flex-wrap: wrap;
}

.navbar .menu {
    display: flex;
    gap: 1.25rem; 
    margin-left: auto; 
    flex-wrap: wrap; 
}

.navbar .menu a {
    color: white;
    padding: 0.625rem; 
    font-size: 1rem; 
}
.navbar .menu a:hover {
    background-color: #555; 
    color: #fff; 
    border-radius: 50px;
}

.Ferreteria, .Comida, .Mascotas, .Vehiculos, .Hogar {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hogar {
    border: 0.0625rem solid #bdbbbb; 
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(228, 226, 226, 0.1); 
    overflow: hidden;
    margin: 1.25rem;
    max-width: 18.75rem;
    flex: 1 0 21%; 
    margin: 0.625rem;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.imagen {
    width: 300px;
    height: auto;
}

.card-hogar {
    padding: 0.9375rem; 
}

.title1 {
    font-size: 1.25rem; 
    font-family: Arial, Helvetica, sans-serif;
}

.ver-mas-btn {
    display: inline-block;
    margin-top: 0.625rem; 
    padding: 0.625rem 1.25rem; 
    background-color: #2d6fb4;
    color: white;
    border-radius: 0.3125rem; 
    text-align: center;
}

.ver-mas-btn:hover {
    background-color: #0056b3;
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}


@media (max-width: 1200px) {
    .hogar {
        flex: 1 0 30%; 
    }
}

@media (max-width: 992px) {
    .hogar {
        flex: 1 0 45%;
    }
}


@media (max-width: 768px) {
    .navbar .menu {
        justify-content: center; /* Center the menu items */
    }
    .navbar .menu a {
        padding: 0.625rem 0.3125rem; /* 10px 5px */
    }
}
.logo{
    width: 40px;
    border-radius: 50%;
}
.titulo3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo4{
    text-align: center;
    
}
