* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; 
    border-radius: 0.3125rem; 
    flex-wrap: wrap;
}

.navbar .menu {
    display: flex;
    /* gap: 1.25rem;  */
    margin-left: auto; 
    /* flex-wrap: wrap;  */
}

.navbar .menu a {
    color: white;
    padding: 0.625rem; 
    font-size: 1rem; 
}

.navbar .menu a:hover {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(201, 203, 200) ;
    
}

.Ferreteria, .Comida, .Mascotas, .Vehiculos, .Hogar {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hogar {
    border: 0.0625rem solid #bdbbbb; 
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(228, 226, 226, 0.1); 
    overflow: hidden;
    margin: 1.25rem;
    max-width: 18.75rem;
    flex: 1 0 21%; 
    margin: 0.625rem;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.imagen {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;

}
.contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;

}

.card-hogar {
    padding: 5px; 

}

.title1 {
    font-size: 1.25rem; 
    font-family: Arial, Helvetica, sans-serif;
}

.ver-mas-btn {
    display: flex;
    margin-top: 0.625rem; 
    padding: 0.625rem 1.25rem; 
    background-color: #2d6fb4;
    color: white;
    border: none;
    border-radius: 0.3125rem; 
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem; 
    transition: background-color 0.3s ease;
    justify-content: center; 
    width: 100%; 
    box-sizing: border-box; 
    text-decoration: none;
}

.ver-mas-btn:hover {
    background-color: #0056b3;
}

.ver-mas-btn:hover {
    background-color: #0056b3;
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}


.logo{
    width: 40px;
    border-radius: 50%;
    margin-top: 4px;
}
.titulo3{

    background: -webkit-linear-gradient(#252525,#58575a);                                             
    border-radius: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    justify-content: center;
    margin: 50px auto;
    height: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 10px;
    margin-top: 50px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.busqueda{
   width: 190px;
   height: 30px;
   border-radius: 5px;
   margin-left: 10px;    
   border: transparent;
}
.boton-buscar {
    display: inline-block;
    margin-top: 7px; 
    padding: 6px; 
    background-color: #2d6fb4;
    color: white;
    border: none; 
    border-radius: 0.3125rem; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; 
}

.boton-buscar:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.contenedor-busqueda {
    display: flex;
    
    
}

.placeholder {
    padding-left: 10px; /* Add this line */
    
}

.consultas {
    border: 0.0625rem solid #bdbbbb; 
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(228, 226, 226, 0.1); 
    overflow: hidden;
    margin: 1.25rem;
    max-width: 18.75rem;
    flex: 1 0 21%; 
    margin: 0.625rem;
    font-family: Arial, Helvetica, sans-serif; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    pointer-events: auto; /* Enable pointer events for the modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Disable pointer events for the background when modal is open */
body.modal-open {
    pointer-events: none;
    overflow: hidden;
}

body.modal-open .modal {
    pointer-events: auto;
}
#buyButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#buyButton:hover {
    background-color: #45a049;
}